<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有些人</title>
</head>
<body>
<script>

    /**
     *模块化开发
     * 将不同功能实现房子一个单独的文件当中，这样的文件叫模块
     * 前端模块化开发遵循一系列的标准或者规范
     * AMD  async module define  依赖前置原则
     * CMD  common module define  依赖就近原则
     *
     * require.js的使用
     * 先定义   define(function(){})
     *
     * 调用
     * require([a,b,c])
     *
     *
     *
     * 如果加载了多个模块，而且有返回值的话，先执行 ，后回调
     * 有几个模块，就要有几个形参，无论你有没有返回值
     */

</script>
</body>
</html>